

    <div id="<%= dom_id friend %>">
  
    <tr>
      <td><%=link_to  friend.first_anme+" "+friend.last_name , friend%></td>
      <td><%= friend.email %></td>
      <td><%= friend.phonenumber %></td>
      <td><%= friend.twitter %></td>
    </tr>
  
</div>

