

    <div id="<%= dom_id friend %>">
  
    <tr>
      <td><%= friend.first_anme %></td>
      <td><%= friend.last_name %></td>
      <td><%= friend.email %></td>
      <td><%= friend.phonenumber %></td>
      <td><%= friend.twitter %></td>
      <td><%= link_to "Show this friend", friend,class:"btn btn-secondary" %></td>
    </tr>
  
</div>

